
.heading {
  text-transform: lowercase;
  color: $text-color;
  font-weight: 400;
  font-size: 2.25rem;

  &-big {
    font-size: 2rem;
  }

  &-medium {
    font-size: 1.5rem;
  }

  span {
    color: $color-primary;
  }
}

.span-star {
  color: $color-primary;
}
