@import "../base/variables";

.button {
  &,
  &:visited {
    min-width: 250px;
    height: 55px;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    padding: 2rem;
    // box-shadow: 0 .5rem 2rem rgba($color-black, 0.6);
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-primary {
    background-color: $color-primary;
    color: $color-white;

    &:disabled {
      background-color: rgba($color-primary, .6);
      transform: translate(0, 0);
      box-shadow: none;

      &:hover {
        box-shadow: none;
        transform: translate(0, 0);
      }
    }

    &:active,
    &:focus {
      outline: none;
      color: $color-white;
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &:hover {
      color: $color-white;
      transform: translateY(-1px);
      box-shadow: 0 1.5rem 2rem rgba($color-black, 0.2);
    }
  }

  &-secondary {
    background-color: $color-white;
    color: $color-primary;
    border: 3px solid $color-primary;

    &:active,
    &:focus {
      outline: none;
      // color: $color-white;
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &:hover {
      color: $color-primary;
      transform: translateY(-1px);
      box-shadow: 0 1.5rem 2rem rgba($color-black, 0.2);
    }
  }
}
