@import '../base/variables';

.table-wrapper {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem 4rem 4rem 2rem;
}

.pi-pencil{
  color: $color-primary-dark;
  &:hover{
    cursor: pointer;
    color: brown;
  }
}

.newPackageButton{
  float: right;
  color: $color-primary-dark !important;
}
